@using Abp.Web.Mvc.Extensions
@{
    ViewBag.ActiveMenu = "自定义功能管理"; //The menu item will be active for this page.
    ViewBag.Title = "Index";
}

<style>
    .labelex {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    select {
        color: black;
    }
</style>
<link href="~/lib/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css" />
<link href="~/lib/jquery-jtable/themes/metro/blue/jtable.css" rel="stylesheet" type="text/css" />

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="card">
            <div class="header">
                <h2>
                    功能管理
                </h2>
                <small>选中节点设置基本信息</small>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-lg-3">
                        <ul id="treeDemo" class="ztree"></ul>
                    </div>
                    <div id="basic_setting" class="col-lg-9">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs tab-col-teal" role="tablist">
                            <li role="presentation" class="active"><a href="#basic" data-toggle="tab">基本设置</a></li>
                            <li role="presentation"><a href="#field" data-toggle="tab">字段管理</a></li>
                            <li role="presentation" templateId="IndexPageTemplate"><a href="#list" data-toggle="tab">列表模板</a></li>
                            <li role="presentation" templateId="CreatePageTemplate"><a href="#general" data-toggle="tab">通用表单模板</a></li>
                            <li role="presentation" templateId="UpdatePageTemplate"><a href="#create" data-toggle="tab" >新增表单模板</a></li>
                            <li role="presentation" templateId="GeneralPageTemplate"><a href="#update" data-toggle="tab" >编辑表单模板</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="basic">
                                @Html.Partial("~/Views/Menus/_PartialBasicInfo.cshtml")
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="field">
                                @Html.Partial("~/Views/Menus/_PartialFieldMgr.cshtml")
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="list">
                                @Html.Partial("~/Views/Menus/_PartialPageUeditor.cshtml", new ViewDataDictionary { { "name", "IndexPageTemplate" } })
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="general">
                                @Html.Partial("~/Views/Menus/_PartialPageUeditor.cshtml", new ViewDataDictionary { { "name", "CreatePageTemplate" } })
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="create">
                                @Html.Partial("~/Views/Menus/_PartialPageUeditor.cshtml", new ViewDataDictionary { { "name", "UpdatePageTemplate" } })
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="update">
                                @Html.Partial("~/Views/Menus/_PartialPageUeditor.cshtml", new ViewDataDictionary { { "name", "GeneralPageTemplate" } })
                            </div>
                        </div>



                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<link rel="stylesheet" href="~/lib/zTree/css/bootstrapStyle/bootstrapStyle.css" type="text/css">


@section scripts{

    <script type="text/javascript" src="~/lib/zTree/js/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="~/lib/zTree/js/jquery.ztree.excheck.js"></script>
    <script type="text/javascript" src="~/lib/zTree/js/jquery.ztree.exedit.js"></script>
    <script type="text/javascript" src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-jtable/jquery.jtable.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-jtable/extensions/jquery.jtable.record-actions.js"></script>
    <script type="text/javascript" src="~/Abp/Framework/scripts/libs/abp.jtable.js"></script>
    <script type="text/javascript" src="~/Scripts/underscore.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-custom.js"></script>
    <script type="text/javascript" src="~/Scripts/ModalManager.js"></script>
    <script type="text/javascript" src="~/Views/Menus/creekTree.js"></script>
    <script type="text/javascript" src="~/Views/Menus/creekTable.js"></script>

    <script type="text/javascript" src="~/Views/Menus/index.js"></script>

    <script type="text/javascript" charset="utf-8" src="~/lib/uediter/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/lib/uediter/ueditor.all.js"> </script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script type="text/javascript" charset="utf-8" src="~/lib/uediter/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/lib/uediter/formdesign/leipi.formdesign.v4.js"></script>


    <script type="text/javascript" src="~/Views/Menus/uediterControl.js"></script>
    <SCRIPT type="text/javascript">

    </SCRIPT>

}



